<% content_for :page_title, "Homepage" %>

<nav class="filters">
    <%= active_link_to "All reviews", root_path, active: { price: nil, cuisine: nil, location: nil } %>
    <%# Price:  %>
    <div>
        <%= active_link_to "$", root_path(price: 1, cuisine: @cuisine), active: { price: 1 } %>
        <%= active_link_to "$$", root_path(price: 2, cuisine: @cuisine), active: { price: 2 } %>
        <%= active_link_to "$$$", root_path(price: 3, cuisine: @cuisine), active: { price: 3 } %>
    </div>
    <%# Cuisine:  %>
    <div>
        <%= active_link_to "Indian", root_path(cuisine: "Indian", price: @price), active: { cuisine: "Indian" } %>
        <%= active_link_to "Vietnamese", root_path(cuisine: "Vietnamese", price: @price), active: { cuisine: "Vietnamese" } %>
        <%= active_link_to "Mexican", root_path(cuisine: "Mexican", price: @price), active: { cuisine: "Mexican" } %>
    </div>
    <form action="/">
        <input type="text" name="location" placeholder="Search location..." value="<%= @location %>">
    </form>
</nav>

<% @reviews.each do |review| %>
    <div class="review">
        <%= link_to review_path(review) do %>
            <h2><%= review.title %></h2>
            <p>
                <% if review.cuisine.present? %>
                    <%= review.cuisine %>  - 
                    <% else %>
                        <%= "" %>
                <% end %>
                <%= pluralize review.comments.count, "comment" %>
            </p>
        <% end %>
    </div>
<% end %>