<!DOCTYPE html>
<html>
  <head>
    <title>AppBien</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to "Bien Reviews", root_path %>
      </h1>
      <p>The best restaurant reviews in the world 🌎</p>
      <nav>
        <%= link_to "Add a review", new_review_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>Copyright 2022 Bien Reviews</p>
    </footer>
  </body>
</html>
