<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> - Bien Reviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <%= link_to root_path do %>
            <%= image_tag "bien-logo.svg" %>
          <% end %>
        </h1>
      </nav>
      <nav>
        The best restaurant reviews in the world 🌎
      </nav>
      <nav>
        User: <%= session[:user_id] %>
      </nav>
      <nav>
        <%= link_to "Add a review", new_review_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>Copyright 2022 Bien Reviews</p>
    </footer>
  </body>
</html>
